@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
    --secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;

	--primary-bg-color: #E9E9E9;
	--secondary-bg-color: #C7C8C9;
	--primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--text-color: #28292E;
	--link-color: #28292E;
	--icon-color: #56575A;
}

html[data-theme='light'] .brand__logo {
    filter: invert(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

i{
    color: var(--icon-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: var(--primary-color);
    font-weight: 600;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header__toggle{
   display: flex;
   justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 60px;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}
.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
  color: var(--primary-color);
}

.menu__icon, .menu__text{
    color: var(--text-color);
}


.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}


footer {
   margin-bottom: 5rem;
   color: rgb(255, 255, 255);
}

footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}

@media(min-width: 768px){
    
    .header{
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    
    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle{
        min-width: 30%;
    }

    footer {
        margin: 0;
    }

}
@media (min-width: 992px){
  

}
@media (min-width: 1200px){
     

}
@media (min-width: 1400px){
    .header {
        padding: 1rem 15rem;
    }

    main {
        padding: 12rem 15rem 2rem;
    }
    
    .technologies, .projects, .about {
        padding: 10rem 15rem 4rem;
    }
    
  
}